<mat-card style="margin-top:10px;" [ngClass]="{'embedded': embedded}">
  <mat-card-content  *ngIf="user">
    <mat-card-info>
      <div class="Image" [attr.focus]="false">
        <div class="img" [ngStyle]="{'background-image': 'url(' + user.imageUrl + ')'}"></div>
      </div>

      <mat-card-contents>
        <mat-card-header>
          <mat-card-title *ngIf="user">
            <span>
              {{ user.first_name }} {{user.last_name}}
              <a class="address">@{{user.email}}</a>
            </span>
          </mat-card-title>

          <mat-card-subtitle>
            <span>Some info here&nbsp;</span>

            <mat-card-badges>
              <post-badge class="{{ badge.category }}" *ngFor="let badge of user.badges" [badge]="badge"></post-badge>
            </mat-card-badges>

          </mat-card-subtitle>

        </mat-card-header>
        <p [attr.shrink_text]="true">
          <span>
            <!-- {{user.bio}}<br> -->
          </span>
        </p>

      </mat-card-contents>
    </mat-card-info>
    <mat-card-actions>
      <!-- <button mat-button>Ajouter aux favoris</button> -->
      <button *ngIf="!embedded" mat-button routerLink="{{ '/user/' + user.email }}"
       mat-icon-button aria-label="Visit profile">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button aria-label="Like" *ngIf="!this.iscurrentuser">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button aria-label="Settings" *ngIf="this.iscurrentuser" (click)="toggleEditmode($event)">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>
