mat-list-item{
  height: unset!important;
  max-height: calc(2 * var(--menu-height));
}
.enabled{
  background-color: #ddd4;
}
h2{
  font-size: 14pt;
  margin-bottom: 0;
}
h6{
  font-size: 8pt;
  margin-bottom: 0;
}
