<mat-list>
  <div *ngIf="notifications.users.length > 0">
    <h1 matSubheader>
      <span style="flex-grow: 1;">Users</span>
      <button mat-icon-button (click)="markCatAsRead('users')">
        <mat-icon>done_all</mat-icon>
      </button>
    </h1>
    <mat-list-item
      [ngClass]="{'enabled': item.state}"
      [disabled]="item.state"
      *ngFor="let item of notifications.users"
      matRipple
      >
      <img matListAvatar [src]="item.imageUrl || ''">
      <span matLine>
        <span>
          <h6>{{ item.timestamp }}</h6>
          <h2>{{ item.title }} </h2>
        </span>
      </span>
    </mat-list-item>
  </div>
</mat-list>
