<mat-list>
  <div *ngIf="notifications.length > 0">
    <h1 matSubheader>
      <span style="flex-grow: 1; display: flex;">
        <h1>Notifications</h1>
      </span>
      <button mat-icon-button (click)="markAllAsRead()">
        <mat-icon>done_all</mat-icon>
      </button>
    </h1>
    <mat-list-item
      [ngClass]="{'enabled': item.state}"
      [disabled]="item.state"
      *ngFor="let item of notifications"
      >
      <mat-card matRipple>
        <img matListAvatar [src]="item.imageUrl || ''">
        <span matLine>
          <span>
            <h6>{{ item.timestamp }}</h6>
            <h2>{{ item.title }} </h2>
          </span>
        </span>
      </mat-card>
    </mat-list-item>
  </div>
</mat-list>
