<mat-nav-list>
  <div style="display: flex;">
    <mat-form-field mat-list-item>
      <mat-label>Leave a comment</mat-label>
      <textarea [(ngModel)]="newComment.text" name="value" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button
      mat-mini-fab color="primary"
      [disabled]="newComment.text == ''"
      mat-icon-button
      aria-label="Comment" (click)="addComment()"
    >
      <mat-icon>add_comment</mat-icon>
    </button>
  </div>
  <div class="comment-list">
    <a *ngFor="let comment of this.comments" mat-list-item (click)="like($event)">
      <span mat-line>
        <b>
          {{ comment.commenting_user['first_name'] + ' ' + comment.commenting_user['last_name'] }}
        </b>
        <abbr>{{ comment.timestamp }}</abbr>
      </span>
      <span mat-line>{{ comment.text }}</span>
    </a>
  </div>
</mat-nav-list>
