div.container {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
}
div.layout {
  background-color: whitesmoke;
    width: 75vmax;
    height: 35vmax;
    padding: 5vmax;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    flex-direction: column;
    display: block;
    align-items: center;
}
user-registration-panel{
  display: contents;
}
@media(orientation: portrait){
  div.container{
    z-index: 4;
  }
  div.layout{
    width: 35vmax;
    height: 75vmax;
  }

}
@media only screen and (orientation: landscape) and (max-height: 720px){
  div.container{
    z-index: 4;
  }
}
