<div class="container">
  <div class="layout">
    <h2 style="margin: 0;">Login</h2>
    <form class="flex" action="/users" method="POST">
      <div class="col2">
        <input mat-input type="text" name="first_name" (change)="updateField($event)" placeholder="First Name"/>
        <input mat-input type="email" name="email" (change)="updateField($event)" placeholder="Email"/>
        <input mat-input type="password" name="password" (change)="updateField($event)" placeholder="Password"/>
      </div>
      <div class="col2">
        <input mat-input type="text" name="last_name" (change)="updateField($event)" placeholder="Last Name"/>
        <input mat-input type="email" name="email" placeholder="Confirm Email"/>
        <input mat-input type="password" name="password" placeholder="Confirm Password"/>
        <div style="display: contents;">
          <div class="mat-card-actions">
            <button mat-button (click)="this.registerUser($event)">Inscription</button>
          </div>
          <a href="#">Terms of Service</a>
        </div>

      </div>
    </form>



  </div>

</div>
