<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step *ngFor="let question of quizz">
    <form>
      <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
      <question-card [question]="question"></question-card>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
