<mat-card style="margin-top:10px;" [ngClass]="{'embedded': embedded}">
  <mat-card-content  *ngIf="company">
    <mat-card-info>
      <mat-card-contents>
        <div class="Image"
        [attr.focus]="false">
          <img [src]="company.imageUrl"/>
        </div>
        <mat-card-header>
          <mat-card-title *ngIf="company">
            {{company.title}} <a class="address">@{{company.email}}</a>
          </mat-card-title>

          <mat-card-subtitle>
            <span>Some info here&nbsp;</span>

            <mat-chip-list>
              <post-badge class="{{ badge.category }}" *ngFor="let badge of company.badges" [badge]="badge"></post-badge>
            </mat-chip-list>

          </mat-card-subtitle>
          <p [attr.shrink_text]="true">
            <span>
              <!-- {{user.bio}}<br> -->
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio laborum dolorum omnis enim iusto ullam hic reprehenderit necessitatibus quis explicabo. Voluptatibus totam odit sint perspiciatis exercitationem eius vitae maxime dolore.
            </span>
          </p>
        </mat-card-header>


      </mat-card-contents>



    </mat-card-info>
    <mat-card-actions *ngIf="!embedded">
      <button mat-icon-button routerLink="{{ '/company/' + company.id }}" matTootip="Go to company page">
        <mat-icon>apartment</mat-icon>
      </button>
      <button mat-icon-button matTootip="Follow company" (click)="follow()">
        <mat-icon>star</mat-icon>
      </button>
      <!-- <button mat-button>Ajouter aux favoris</button> -->
    </mat-card-actions>
  </mat-card-content>

</mat-card>
