.example-header-image {
  background-size: cover;
}
.mat-card-image{
  width: calc(100% + 16px);
}
.skills{
  display: flex;
  align-items: center;
  color: var(--primary-color);
  background-color: transparent;
  transition: all .05s ease-in;
}
.skills:hover{
  color: var(--secondary-color);
}
.skills h2{
  margin-bottom: 0;
  flex-grow: 1;
}
