<mat-card @develop>
  <div>
    <div class="Image">
      <img *ngIf="notification.imageUrl" src="{{ notification.imageUrl }}">
      <img *ngIf="!notification.imageUrl" src="../../assets/svg/Gradient.png">
    </div>
    <div class="content">
      <span>
        <h4>{{ notification.title }}</h4>
        <h6>{{ notification.date }}</h6>
      </span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis nulla beatae veniam. Omnis vel nam amet! Odit dicta blanditiis dolor illum nostrum a nemo laborum neque? Quasi, ullam eveniet!
      </p>

    </div>
  </div>
</mat-card>
