<mat-nav-list *ngIf="user">
  <mat-list-item (click)="goto('/user/'+user.email)">
    <img matListAvatar [src]="sanitize(user.imageUrl)" alt="...">
    <h1 matLine> {{user.email}} </h1>
    <button mat-icon-button>
        <mat-icon>account_box</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item (click)="disconnect()">
    <a matLine>Disconnect</a>
    <button mat-icon-button>
       <mat-icon>perm_identity</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item (click)="goto('/home')">
    <a matLine>Home</a>
    <button mat-icon-button>
       <mat-icon>home</mat-icon>
    </button>
  </mat-list-item>

  <mat-divider [inset]="false"></mat-divider>
  <h3 matSubheader>Get Hired!</h3>

  <mat-list-item (click)="goto('/discover/offers')">
    <a matLine>Offers</a>
    <button mat-icon-button>
      <mat-icon>assistant_photo</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item (click)="goto('/companies')">
    <a matLine>Companies</a>
    <button mat-icon-button>
      <mat-icon>apartment</mat-icon>
    </button>
  </mat-list-item>

  <mat-divider [inset]="false"></mat-divider>
  <h3 matSubheader>Hire & Seek</h3>

  <mat-list-item (click)="goto('/discover/demands')">
    <a matLine>Demands</a>
    <button mat-icon-button>
      <mat-icon>announcement</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item (click)="goto('/users')">
    <a matLine>Users</a>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-list-item>



  <mat-list-item (click)="goto('/questions')">
    <a matLine>Quizzes</a>
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item (click)="goto('/about')">
    <a matLine>About us</a>
    <button mat-icon-button>
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>

</mat-nav-list>

<div class="easy-connect" *ngIf="!user">

    <connection-panel (userLogin)="userLogged.emit()"></connection-panel>

</div>
