/* Badges */
mat-card-badges, mat-chip-list {
  float: right;
}
mat-card-badges{
  width: 100%;
}
mat-chip-list {
  flex-grow: 1;
  flex-direction: row-reverse;
  display: inline-flex;
  height: 100%;
}

/* Badge Mobile */
@media (orientation: portrait) {
  mat-card-badges, mat-chip-list {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  div.mat-card-header-text{
    flex-shrink: 1;
    margin: 0 1vw;
  }

  post-badge {
    flex: 0 1 17%;
  }
}
