<mat-toolbar color="primary">
  <button mat-button action="MenuSwitch" (click)="showMenu()">
    <i *ngIf="this.user" class="material-icons">menu</i>
    <span *ngIf="!this.user">Connect</span>
  </button>
  <h1 class="title">
    {{ title }}
  </h1>

  <div class="buttonBar horizontal search">
    <!-- <input matInput [(ngModel)]="searchbarValue"> -->
  </div>
  <div class="buttonBar horizontal">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button [color]="'white'" (click)="showNotifications()" >
      <mat-icon matBadge="{{ this.notifications_count !== 0 ? this.notifications_count : '' }}"
      matBadgePosition="above after"
      matBadgeColor="accent">notifications</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #menu_sidenav_drawer class="menu-sidenav" mode="push">
    <hire-sidenav [user]="this.user" (itemClick)="menu_sidenav_drawer.toggle()" (userLogged)="connectUser()"></hire-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #notification_sidenav_drawer class="notifications" mode="over" position="end">
    <notifications-list #notification_list (countUpdate)="updateNotificationCount($event)"></notifications-list>
  </mat-sidenav>
</mat-sidenav-container>

