/* Layout */
.example-container {
  width: 100%;
  height: calc(100vh - var(--menu-height));
  top: var(--menu-height);
}
mat-drawer-content{
  background-color: #ddd;
  overflow-x: hidden;
}
.mat-drawer-inner-container{
  overflow-x: hidden!important;
}
.menu-sidenav {
  width: 33vw;
}
.notification-sidenav {
  width: 69vw;
  padding: .1vmax;
}
@media(max-width: 599px){
  .menu-sidenav, .notification-sidenav {
    width: 89vw;
  }
}
@media(min-width: 599px) and (max-width: 768px){
  .menu-sidenav, .notification-sidenav {
    width: 69vw;
  }
}
/* Toolbar */
mat-toolbar{
  background-color: var(--primary-color)!important;
  height: var(--menu-height);
  position: fixed;
  z-index: 4;
  top: 0;
}
h1.title{
  display: block;
  margin-right: 5%!important;
  flex-grow: 1;
}
mat-toolbar button[action=MenuSwitch]{
  border: 0pt solid #fff;
  margin-right: 1vw;
  display: none;
}

div.buttonBar{
  float: right;
  position: relative;
  right: 0;
  max-width: 100%;
  display: flex;
  flex: 1 1 10%;
  justify-content: flex-end;
  align-items: center;
}
.menuButton mat-menu {
  position: absolute;
  top: 48px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  max-height: 0vh;
  overflow: hidden;
  border-radius: .5vmin;
}
.search{
  padding-left: 5vmin;
  flex-flow: row-reverse;
}
.search input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #111;
  border: none;
  padding: 2.5pt 0pt;
  text-align: center;
  font-size: 15pt;
  border-bottom: 2px solid #fff;
  color: #fff;
  mix-blend-mode: screen;
}
.search.current input{
  padding: 2.5pt 2.5pt;
}

.menuButton button:hover+mat-menu, .menuButton button:focus+mat-menu {
  max-height: 35vh;
}
.menuButton mat-menu::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color:var(--primary-color-light);
  width: 0;
  position: relative;
  left: 25%;
  transform: translateX(calc(-100% - 10px));
}
.menuButton mat-menu button {
  background-color: var(--primary-color-light);
  color: #fff;
  border-radius: 0vmin;
}

div.horizontal button {
  border-radius: 100%;
  padding: 0;
  width: 64px;
  height: 64px;
  transform: scale(0.6);
  flex-grow: 0;
}
div.horizontal button[value]:not([value='0']) {
  color: var(--primary-color);
  background-color: #fff;
}
div.horizontal button.current, div.horizontal button[value]:not([value='0']).current
{
  border: 1px solid #fff;
  background-color: var(--primary-color-light);
  color: #fff;
}
div.buttonBar button[current]{
  border-bottom: 2px solid #fff;
  border-radius: 0;
}
div.buttonBar b{
  font-size: 20pt;
  font-weight: bold;
}

/* Notification & Messages side panel */

mat-card.notification {
  width: calc(94% - 32px);
    height: 100px;
    display: flex;
    position: relative;
    margin: 3%;
    margin-top: 0%;
    color: #424242;
    background-color: #fff;
}

@media only screen and (orientation: portrait), only screen and (orientation: landscape) and (max-width: 1920px) {
  mat-toolbar h1{
    margin-right: 0%!important;
    flex-grow: 1;
  }
  mat-toolbar button[action=MenuSwitch]{
    display: block;
    flex-grow: 0;
    /* width: -webkit-fill-available; */
    flex-shrink: 1;
    min-width: 32px;
  }
  div.buttonBar{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 10%;
    max-width: 100%;
    width: 100%;
  }
  div.buttonBar:first-child{
    flex-direction: row;
  }
  div.buttonBar:first-child span{
    flex-grow: 1;
  }
  div.profileImage {
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%) scale(0.85);
  }
  div.buttonBar:not(.horizontal) button{
    width: 100%;
    display: flex;
  }
  div.buttonBar.horizontal{
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 0 10%;
  }
  div.buttonBar button[current]{
    color: #fff;
    background-color: var(--primary-color);
    border-bottom: 1pt solid #fff;
  }





  /* Searchbar */
  .search{
    flex: 0 1 0%!important;
    width: 0%!important;
    padding-left: 0vmin;
  }
  .search.current{
    flex: 1 0 50%!important;
    width: 100%;
    padding-left: 5vmin;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1280px) {
  /* Notification & Messages side panel */
  div.rightPanel {
    width: 50vw;
  }
  .search{
    flex: 1 0 50%;
    width: 0%;
    padding-left: 5vmin;
  }
}

@media only screen and (orientation: landscape) and (max-width: 960px) {
  mat-toolbar h1{
    flex-grow: 0;
  }
  /* Notification & Messages side panel */
  div.rightPanel {
    width: 100vw;
    right: 0vw;
    overflow-x: hidden;
  }
  div.rightPanel[content=none] {
    right: -150vw;
  }
  div.rightPanel>div {
    width: 98%;
  }




  .search {
    padding-left: 0vmin;
  }
  .search.current {
    padding-left: 5vmin;
  }

}


