<mat-card>
  <div class="resume-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="resume_menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-raised-button color="primary" *ngIf="editMode" (click)="save()">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
  </div>
  <mat-menu #resume_menu yPosition="below" xPosition="after">
    <button mat-menu-item *ngIf="!editMode" (click)="edit()">
      <mat-icon>edit</mat-icon>
      <span>Edit resume</span>
    </button>

    <button mat-menu-item disabled>
      <mat-icon>close</mat-icon>
      <span>Delete resume</span>
    </button>
    <button mat-menu-item (click)="getPDFResume()">
      <mat-icon>notifications_off</mat-icon>
      <span>Get PDF version</span>
    </button>
  </mat-menu>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>person</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput [disabled]="!editMode" [(ngModel)]="this.user.first_name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput [disabled]="!editMode" [(ngModel)]="this.user.last_name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [disabled]="!editMode" [(ngModel)]="this.user.email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" [disabled]="!editMode">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Academic cursus
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>school</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
          <mat-list-item *ngFor="let ac of this.resume.academic_cursus">
            <div class="item-content">

              <mat-card-header *ngIf="!editMode" style="transform: translateX(-16px); width: 100%;">
                <mat-card-title>
                  <span>
                    {{ ac.title }}
                  </span>
                </mat-card-title>

                <mat-card-subtitle>
                  <span>{{ ac.school }}&nbsp;</span>
                </mat-card-subtitle>

              </mat-card-header>
              <mat-form-field *ngIf="editMode">
                <mat-label>Title</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="ac.title">
              </mat-form-field>
              <mat-form-field *ngIf="editMode">
                <mat-label>School</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="ac.school">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Degree</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="ac.degree">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Mention</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="ac.grade">
              </mat-form-field>

              <mat-form-field>
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="ac.begin_date" [readonly]="!editMode">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="ac.end_date" [readonly]="!editMode">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>
            <button class="more_options" mat-icon-button [matMenuTriggerFor]="academic_cursus_menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #academic_cursus_menu yPosition="below" xPosition="after">
              <button mat-menu-item (click)="addAcademicCursus()">
                <mat-icon>add</mat-icon>
                <span>New diploma</span>
              </button>
              <button mat-menu-item (click)="removeAcademicCursus(ac)">
                <mat-icon>remove</mat-icon>
                <span>Delete diploma</span>
              </button>
            </mat-menu>

            <br>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>

      </mat-list>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Professionnal cursus
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
          <mat-list-item *ngFor="let pro of resume.professionnal_cursus">
            <div class="item-content">
              <mat-card-header *ngIf="!editMode" style="transform: translateX(-16px); width: 100%;">
                <mat-card-title>
                  <span>
                    {{ pro.title }}
                  </span>
                </mat-card-title>

                <mat-card-subtitle>
                  <span>
                    {{ pro.organization }}&nbsp;<br>
                  </span>
                </mat-card-subtitle>
              </mat-card-header>

              <mat-form-field *ngIf="editMode">
                <mat-label>Title</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="pro.title">
              </mat-form-field>
              <mat-form-field *ngIf="editMode">
                <mat-label>Organization</mat-label>
                <input matInput [disabled]="!editMode" [(ngModel)]="pro.organization">
              </mat-form-field>

              <mat-form-field class="ultra-wide">
                <mat-label>Entreprise's address</mat-label>
                <textarea matInput [disabled]="!editMode" class="example-full-width" [(ngModel)]="pro.organization_address"></textarea>
              </mat-form-field>

              <mat-form-field class="ultra-wide">
                <mat-label>Description</mat-label>
                <textarea matInput [disabled]="!editMode" class="example-full-width" [(ngModel)]="pro.description"></textarea>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Sector</mat-label>
                <mat-select [disabled]="!editMode" [(ngModel)]="pro.sector">
                  <mat-option value="IT">IT</mat-option>
                  <mat-option value="Agriculture">Agriculture</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="xppicker_begin" [(ngModel)]="pro.begin_date" [readonly]="!editMode">
                <mat-datepicker-toggle matSuffix [for]="xppicker_begin">
                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #xppicker_begin></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="xppicker_end" [(ngModel)]="pro.end_date" [readonly]="!editMode">
                <mat-datepicker-toggle matSuffix [for]="xppicker_end">
                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #xppicker_end></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="ultra-wide">
                <mat-label>Added values</mat-label>
                <textarea matInput [disabled]="!editMode" class="example-full-width" [(ngModel)]="pro.added_values"></textarea>
              </mat-form-field>
            </div>
            <br>
            <button class="more_options" mat-icon-button [matMenuTriggerFor]="pro_cursus_menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #pro_cursus_menu yPosition="below" xPosition="after">
              <button mat-menu-item (click)="addProCursus()">
                <mat-icon>add</mat-icon>
                <span>New cursus</span>
              </button>
              <button mat-menu-item (click)="removeProCursus(pro)">
                <mat-icon>remove</mat-icon>
                <span>Delete cursus</span>
              </button>
            </mat-menu>

            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>

      </mat-list>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Academic projects
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>done</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
        <mat-list-item *ngFor="let prj of resume.academic_projects">
          <div class="item-content">
            <mat-card-header *ngIf="!editMode" style="transform: translateX(-16px); width: 100%;">
              <mat-card-title>
                <span>
                  {{ prj.title }}
                </span>
              </mat-card-title>

              <mat-card-subtitle>
                <span>
                  &nbsp;<br>
                </span>
              </mat-card-subtitle>

            </mat-card-header>
            <mat-form-field *ngIf="editMode">
              <mat-label>Title</mat-label>
              <input matInput [disabled]="!editMode" [(ngModel)]="prj.title">
            </mat-form-field>

            <mat-form-field class="ultra-wide">
              <mat-label>Project description</mat-label>
              <textarea matInput [disabled]="!editMode" class="example-full-width" [(ngModel)]="prj.description"></textarea>
            </mat-form-field>

            <mat-form-field class="ultra-wide">
              <mat-label>Actions</mat-label>
              <textarea matInput [disabled]="!editMode" class="example-full-width" [(ngModel)]="prj.actions"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="xppicker_begin" [(ngModel)]="prj.begin_date" [readonly]="!editMode">
              <mat-datepicker-toggle matSuffix [for]="xppicker_begin">
                <mat-icon matDatepickerToggleIcon>event</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #xppicker_begin></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="xppicker_end" [(ngModel)]="prj.end_date" [readonly]="!editMode">
              <mat-datepicker-toggle matSuffix [for]="xppicker_end">
                <mat-icon matDatepickerToggleIcon>event</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #xppicker_end></mat-datepicker>
            </mat-form-field>
          </div>
          <button class="more_options" mat-icon-button [matMenuTriggerFor]="academic_prj_menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #academic_prj_menu yPosition="below" xPosition="after">
            <button mat-menu-item (click)="addAcademicProject()">
              <mat-icon>add</mat-icon>
              <span>New project</span>
            </button>
            <button mat-menu-item (click)="removeAcademicProject(prj)">
              <mat-icon>remove</mat-icon>
              <span>Delete project</span>
            </button>
          </mat-menu>
          <br>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Languages
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>language</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
        <mat-list-item *ngFor="let lang of resume.languages">
          <div class="item-content stretch">


            <mat-form-field>
              <mat-label>Language</mat-label>
              <mat-select [disabled]="!editMode" [(ngModel)]="lang.lang">
                <mat-option value="Arabic">Arabic</mat-option>
                <mat-option value="French">French</mat-option>
                <mat-option value="English">English</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
                <mat-option value="German">German</mat-option>
                <mat-option value="Portuguese">Portuguese</mat-option>
                <mat-option value="Italian">Italian</mat-option>
                <mat-option value="Russian">Russian</mat-option>
                <mat-option value="Chinese">Chinese</mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <mat-label>Level</mat-label>
              <mat-slider
                  class="example-margin"
                  [disabled]="!editMode"
                  [max]="10"
                  [min]="0"
                  [step]="1"
                  [value]="lang.level? lang.level: 5"
                  [(ngModel)]="lang.level"
                  [thumbLabel]="true">
                </mat-slider>

            </div>
          </div>
          <button class="more_options" mat-icon-button [matMenuTriggerFor]="lang_menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #lang_menu yPosition="below" xPosition="after">
            <button mat-menu-item (click)="addLanguage()">
              <mat-icon>add</mat-icon>
              <span>Add language</span>
            </button>
            <button mat-menu-item (click)="removeLanguage(lang)">
              <mat-icon>remove</mat-icon>
              <span>Delete language</span>
            </button>
          </mat-menu>
          <br>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Skills
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>emoji_objects</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
        <mat-list-item *ngFor="let skill of resume.skills">
          <div class="item-content stretch">


            <mat-form-field>
              <mat-label>Skill</mat-label>
              <input matInput [disabled]="!editMode" [(ngModel)]="skill.skill">
            </mat-form-field>

            <div>
              <mat-label>Level</mat-label>
              <mat-slider
                  class="example-margin"
                  [disabled]="!editMode"
                  [max]="10"
                  [min]="0"
                  [step]="1"
                  [value]="skill.level? skill.level: 5"
                  [(ngModel)]="skill.level"
                  [thumbLabel]="true">
                </mat-slider>
                <button mat-flat-button [color]="'primary'" (click)="takeTest(skill)">
                  Take test
                </button>
            </div>

          </div>

          <button class="more_options" mat-icon-button [matMenuTriggerFor]="skill_menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #skill_menu yPosition="below" xPosition="after">
            <button mat-menu-item (click)="addSkill()">
              <mat-icon>add</mat-icon>
              <span>Add skill</span>
            </button>
            <button mat-menu-item (click)="removeSkill(skill)">
              <mat-icon>remove</mat-icon>
              <span>Delete skill</span>
            </button>
          </mat-menu>
          <br>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Leisure
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>terrain</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-list>
        <div mat-subheader>Associative activity</div>
        <mat-list-item>
          <mat-list>
            <mat-list-item *ngFor="let _ of ['a', 'b']">
              <div class="item-content">
                <mat-form-field>
                  <mat-label>Role</mat-label>
                  <input matInput [disabled]="!editMode" [value]="'President'">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Club/Association name</mat-label>
                  <input matInput [disabled]="!editMode" [value]="'Photography fans'">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>From</mat-label>
                  <input matInput [matDatepicker]="xppicker_begin" [formControl]="date" [readonly]="!editMode">
                  <mat-datepicker-toggle matSuffix [for]="xppicker_begin">
                    <mat-icon matDatepickerToggleIcon>event</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #xppicker_begin></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>To</mat-label>
                  <input matInput [matDatepicker]="xppicker_end" [formControl]="date" [readonly]="!editMode">
                  <mat-datepicker-toggle matSuffix [for]="xppicker_end">
                    <mat-icon matDatepickerToggleIcon>event</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #xppicker_end></mat-datepicker>
                </mat-form-field>

              </div>
            </mat-list-item>
          </mat-list>
        </mat-list-item>

        <div mat-subheader>Hobbies</div>
        <mat-list-item>
          <mat-list>
            <mat-list-item *ngFor="let _ of ['a', 'b']">
              <div class="item-content">
                <mat-form-field>
                  <mat-label>Hobby</mat-label>
                  <input matInput [disabled]="!editMode" [value]="'Photography'">
                </mat-form-field>

                <mat-form-field class="ultra-wide">
                  <mat-label>Description/Achievements</mat-label>
                  <textarea matInput [disabled]="!editMode" class="example-full-width" [value]="'What you like about photography'"></textarea>
                </mat-form-field>

              </div>
            </mat-list-item>
          </mat-list>
        </mat-list-item>

      </mat-list>



    </mat-expansion-panel>

  </mat-accordion>
</mat-card>
