mat-card{
  background:#fff;
  color:#424242;
  display: flex;
}
div.Image{
  width: 10vmax;
  height: 10vmax;
  border-radius: 10vmax;
  padding-top: 0%;
  padding-left: 0%;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}
div.Image img{
  display: block;
  position: absolute;
  top: 10pt;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%) scale(1);
}
mat-form-field, div.mat-form-slider{
  flex: 35% 0 0;
}
form.createPost{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 10pt;
  justify-content: flex-start;
}
form.createPost section.header {
  display: flex;
  padding: 0% 2%;
  flex-wrap: wrap;
}

form.createPost section.newPost{
  background-color: transparent;
  border-radius: 3vmin;
  padding: 0% 2%;

}

form.createPost section.newPost>*{
  width: 100%;
  font-family: "Helvetica";
}
form.createPost section>h3{
  margin: 0;
  width: 100%;
  color: var(--secondary-color);
}
@media (orientation:portrait){
  div.Image{
    width: 5vmax;
    height: 5vmax;
  }
  form.createPost section.header {
    flex-wrap: wrap;
  }
}
