<div style="padding: 0px 10px;
position: absolute;
width: calc(100% - 20px);">
  <post-filter #filter></post-filter>
  <div class="container">  <!-- [@staggeredDevelop]="profiles.length"> -->
    <div *ngFor="let company of companies" style="display: contents;">
      <company-details (deleteEvent)="deleteCompany($event)" *ngIf="this.filter.doSatisfy(company)" @develop [company]="company" [showMap]="false"></company-details>
    </div>
  </div>
  <div class="mat-spinner"  *ngIf="loading_state" [ngClass]="{'bottom': companies.length !== 0 }">
    <mat-spinner></mat-spinner>
  </div>

</div>
<button mat-fab class="bottom" color="'primary'" (click)="createCompany()" matTooltip="Create company">
  <mat-icon>add</mat-icon>
</button>
