<div class="container">
  <mat-form-field appearance="standard" [floatLabel]="floatLabelControl.value">
    <mat-label>Title</mat-label>
    <input [(ngModel)]="newPost.title" name="title" matInput placeholder="Post title">
  </mat-form-field>
  <mat-form-field appearance="standard" [floatLabel]="floatLabelControl.value">
    <mat-label>Body</mat-label>
    <textarea [(ngModel)]="newPost.description" name="description" matInput placeholder="Write something here."></textarea>
  </mat-form-field>
  <div style="display: flex; width: 100%;">
    <mat-form-field appearance="standard" [floatLabel]="floatLabelControl.value">
      <mat-label>Working days</mat-label>
      <mat-select [(value)]="newPost.workdays" multiple>
        <mat-option value="Mon">Monday</mat-option>
        <mat-option value="Tue">Tuesday</mat-option>
        <mat-option value="Wed">Wednesday</mat-option>
        <mat-option value="Thu">Thursday</mat-option>
        <mat-option value="Fri">Friday</mat-option>
        <mat-option value="Sat">Saturday</mat-option>
        <mat-option value="Sun">Sunday</mat-option>
      </mat-select>
    </mat-form-field>
    <div style="display: flex; flex-direction: column;" class="mat-form-slider">
      <mat-label>Working hours</mat-label>
      <mat-slider
          class="example-margin"
          name="workhours"
          [disabled]="false"
          [invert]="false"
          [max]="12"
          [min]="0"
          [thumbLabel]="true"
          [tickInterval]="12"
          [(ngModel)]="newPost.workhours"
          [vertical]="false">
      </mat-slider>
    </div>

  </div>
</div>
