mat-card{
  background:transparent;
  color:#424242;
}
mat-card.mother-card{
  margin-top: 10px;
  height: calc(100vh - 108px);
  overflow: hidden;
  padding-bottom: 0px;
}
mat-card-content{
  display: flex;
  flex-direction: row;
}
mat-card-content>*:first-child{
  flex-grow: 0;
  width: 30%;
  height: 100%;
}
.mat-card-subtitle {
  color: var(--secondary-color);
  width: 100%;
}

.mat-card-header {
  display: block;
  flex-direction: row;
}

/* Tabs formatting */
mat-tab-group{
  margin-left: 10px;
  flex-grow: 1;
  position: sticky;
  top: 100px;
  overflow: hidden;
  height: 90vh;
}
.mat-tab-header{
  position: sticky!important;
  top: var(--menu-height);
}
.panel-1{
  height: calc(100vh - (var(--menu-height) + 10px + 16px));
  position: -webkit-sticky;
  position: sticky;
  /* top: calc(var(--menu-height) + 10px + 16px); */
  top: 0;
}
div.mat-tab-body-wrapper{
  margin-bottom: 0px;
}
.panel-1 + div.mat-card-info{
  padding: 1%;
  width: 70%;
}
@media only screen and (max-width: 1000px), only screen and (orientation: portrait){
  mat-card.mother-card{
    height: unset;
  }
  mat-tab-group{
    position: sticky;
  }
  mat-card-content{
    display: flex;
    flex-direction: column;
  }
  mat-card-content>*:first-child{
    flex-grow: 1;
    width: inherit;
  }
  .panel-1 {
    position: relative;
    top: 0;
    height: unset;
  }
  .panel-1 + div.mat-card-info{
    padding: 1%;
    width: 100%;
  }
  mat-tab-group{
    margin-left: 0px;
  }
}
