<mat-card style="margin-top:10px;">
  <post-filter #filter></post-filter>

  <mat-card-content>
    <div class="panel-1" @developDown>
      <user-details *ngIf="usertype === 'user'" [user]="user" [embedded]="true"></user-details>
      <company-details *ngIf="usertype === 'company'" [company]="user" [embedded]="true"></company-details>
    </div>

    <div class="mat-card-info">
        <div *ngFor="let post of userposts">
          <offer-details [offer]="post" *ngIf="post.type === 'offer' && this.filter.doSatisfy(post)"></offer-details>
          <post [embed]="true" [post]="post" *ngIf="post.type !== 'offer' && this.filter.doSatisfy(post)"></post>
        </div>
        <div class="mat-spinner" [ngClass]="{'bottom': this.userposts !== [] }">
          <mat-spinner *ngIf="loading_state"></mat-spinner>
        </div>
    </div>

  </mat-card-content>


</mat-card>
