<mat-card class="mother-card">


  <mat-card-content>
    <div class="panel-1" @developDown>
      <user-details
      [user]="user"
      [iscurrentuser]="user.id === this.currentUserId"
      [embedded]="true"
      (cogButtonClick)="editAndSave(resume)"></user-details>
    </div>

    <mat-tab-group>
      <mat-tab label="Resume">
        <user-resume #resume [user]="this.user"></user-resume>
      </mat-tab>

      <mat-tab label="Posts">
        <post-filter #filter></post-filter>
        <div class="mat-card-info">
          <div *ngFor="let post of userposts">
            <post [embed]="true" [post]="post" *ngIf="this.filter.doSatisfy(post)"></post>
          </div>
          <div *ngIf="loading_state" class="mat-spinner" [ngClass]="{'bottom': this.userposts !== [] }">
            <mat-spinner></mat-spinner>
          </div>
          <span *ngIf="!loading_state" style="    text-align: center;
          padding: 2em;
          display: block;">
            That's it for now.
          </span>
        </div>

      </mat-tab>


      <mat-tab label="Companies">
        <post-filter #companyfilter></post-filter>
        <div *ngFor="let company of usercompanies" style="display: contents;">
          <company-details *ngIf="this.companyfilter.doSatisfy(company)" @develop [company]="company" [showMap]="false"></company-details>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    </mat-tab-group>


  </mat-card-content>


</mat-card>



