div.container {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}
div.layout {
  background-color: whitesmoke;
    width: 75vmax;
    height: 35vmax;
    padding: 5vmax;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
}
connection-panel{
  display: flex;
  height: 100%
}
@media(orientation: portrait){
  div.layout{
    width: 35vmax;
    height: 75vmax;
  }
}
