<mat-card style="margin-top:10px;" @develop>
  <mat-card-content>
    <mat-card-info>
      <div class="Image" [attr.focus]="false" (click)="toggleFocus($event)">
        <img src="{{ offer.imageUrl }}"/>
      </div>

      <mat-card-contents>
        <mat-card-header>
          <mat-card-title>
            {{offer.title}}
          </mat-card-title>

          <mat-card-subtitle>
            <span>{{offer.salary}} $/ {{offer.workhours}} heures par jour / {{offer.workdays}}&nbsp;</span>

            <mat-card-badges>
              <post-badge [ngClass]="badge.category" *ngFor="let badge of offer.badges" [badge]="badge"></post-badge>
            </mat-card-badges>

          </mat-card-subtitle>

        </mat-card-header>
        <p (click)="readMore($event)" [attr.shrink_text]="true">
          <span>
            {{offer.description}}<br>
          </span>
        </p>

      </mat-card-contents>
    </mat-card-info>
    <mat-card-actions>
      <button mat-button>Postuler</button>
      <!-- <button mat-button>Ajouter aux favoris</button> -->
    </mat-card-actions>
  </mat-card-content>

</mat-card>
