<div class="Image">
  <img src="https://images.unsplash.com/photo-1506757144316-2ff47151133b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600">
</div>
<form class="createPost">
  <h1 style="margin: 0">
    What's on your mind?
  </h1>
  <section class="header">
    <h3 *ngIf="!newPost.type || !newPost.subject">Choose post type</h3>

    <mat-form-field appearance="standard" [floatLabel]="floatLabelControl.value">
      <mat-label>Post type</mat-label>
      <mat-select [(value)]="newPost.type" (selectionChange)="fetchSelectedType(newPost.type, newPost.subject)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let subj of posttypes['types']" value="{{subj}}">
          {{subj}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" [floatLabel]="floatLabelControl.value">
      <mat-label>Subject</mat-label>
      <mat-select [(value)]="newPost.subject" (selectionChange)="fetchSelectedType(newPost.type, newPost.subject)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of posttypes['subjects'][newPost.type]" value="{{type}}">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section class="newPost" *ngIf="newPost.type && newPost.subject" @developDown>
    <h3>Write your post</h3>
    <new-job-offer
      *ngIf="newPost.type.toLowerCase() == 'offer' && ['Job', 'Internship'].includes(newPost.subject)"
      [newPost]="newPost"
      [subject]="newPost.subject"
      (doneEvent)="doneEvent.emit($event)"
    >
    </new-job-offer>
    <new-job-demand
      *ngIf="newPost.type.toLowerCase() == 'demand' && ['Job', 'Internship'].includes(newPost.subject)"
      [newPost]="newPost"
      [subject]="newPost.subject"
      (doneEvent)="doneEvent.emit($event)"
    >
    </new-job-demand>

  </section>
  <input type="file" hidden #imageFile (change)="this.fileSelect($event)">
  <mat-card-actions>
    <!-- <button mat-button (click)="this.createPost()">
      Post
    </button> -->
    <button mat-icon-button aria-label="Add image" (click)="imageFile.click()">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <button mat-icon-button aria-label="Schedule">
      <mat-icon>schedule</mat-icon>
    </button>
  </mat-card-actions>
</form>
