.example-card {
  margin: 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
mat-card-header{
  width: 100%;
}

.example-header-image {
  background-size: cover;
}
.title {
  flex-grow: 1;
}
mat-card-content{
  flex: 50% 1 1;
}


.postImage{
  width: 30vmin;
  height: 30vmin;
  background-size: cover;
  margin-right: 2vmin;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.postImage img{
  max-height: 100vmin;
  height: 100%;
}
@media(max-width: 768px){
  .postImage{
    width: 100vmin;
    height: 100vmin;
    margin-right: 0vmin;
  }
}
